@import "tailwindcss";

@theme {
  --color-primary: #1f4b43;
  --color-primary-dark: #163630;
  --color-secondary: #e7c873;
  --color-secondary-hover: #dbb040;
  --color-dark: #1a1a1a;
  --color-light: #f9f9f9;
  --color-light-orange: #fff8f6;
  
  --font-sans: Roboto, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply text-dark font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
  }
}
